[submodule "linux安装管理器"]
	path = linux安装管理器
	url = https://github.com/13768324554/dbu.git
[submodule "debian"]
	path = debian
	url = https://github.com/www3838438/debian.git
[submodule "vagrant-debian-开发"]
	path = vagrant-debian-开发
	url = https://github.com/13768324554/vagrant-debian-jessie.git
